body{
    background-image: url("../img/bg.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed; 
}
#header{
    width: 120%;
    background-color:rgb(252, 253, 176);
    position: relative;
    padding:5px;
    right:20px;
    bottom:20px;
}
h1{
    text-indent: 2em;
    font-size:45px
}
div{
    margin:0 auto;
}
#mainpart{
    width:1100px;
    background-color: white;
    padding:10px;
    margin:10px auto;
    position:relative;
    bottom:30px;

}
.partstyle{
    padding:10px;
    border:5px solid grey;
    border-radius:25px;
}
h2{
    font-size:35px
}
form{
    position:relative;
    left:780px;

}

.form1{
    position:relative;
    left:1000px;
    bottom: 30px;

}
.buttonstyle{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    font-size:15px;
    border-radius: 4px;
    padding:5px;
}
.wordstyle{
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    font-size:15px;
    border-radius: 4px;
    padding:5px;
}
select{
    width:100px;
    height:35px;
}
#rumortype{
    font-size: x-large;
    font-family: 楷体;
    color: maroon;
    text-shadow: darkgray;
    width:20%;
}
#rumorheader{
    position: relative;
    padding:5px;
    right:20px;
    bottom:20px;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
#rumorsum{
    position: relative;
    padding:5px;
    right:20px;
    bottom:20px;
    font-size: medium;
    font-family: 楷体;
}
#rumorcontent{
    position: relative;
    padding:5px;
    right:20px;
    bottom:20px;
    font-size: small;
}
button{
    background-color: rgb(77, 86, 201);
    border: none;
    color: white;
    text-align: center;
    font-size:15px;
    border-radius: 4px;
    padding:5px;
}
.buttonstyle1{
    background-color: #f31505;
    border: none;
    color: white;
    text-align: center;
    font-size:15px;
    border-radius: 4px;
    padding:5px;
    left: 50px;
}